In [1]:
import pandas as pd
import numpy as np
import os 
import string
import nltk

In [2]:
data=pd.read_csv('./Data-clean/Jan-Oct-2020_standardized.csv')

In [3]:
data.head()

,tweets_Date,tweets_Text,tweets_Replies,tweets_Retweets,tweets_Likes,tweets_Images,tweets_imageURL,tweets_hrefURL,has_image,has_Link
0,Sep 30,Initial reports suggest three rockets struck a...,96.0,306.0,424.0,NaN,NaN,NaN,0,0
1,Sep 30,The Senate has approved a stopgap spending bil...,164.0,138.0,341.0,https://pbs.twimg.com/card_img/131903963670285...,https://pbs.twimg.com/card_img/131903963670285...,https://t.co/7cdxO2SXTI?amp=1,1,1
2,Sep 30,Seven people were shot at a funeral home in Mi...,88.0,191.0,296.0,https://pbs.twimg.com/card_img/131684825020127...,https://pbs.twimg.com/card_img/131684825020127...,https://t.co/bu2k9SpEsB?amp=1,1,1
3,Sep 30,"Clare Bronfman, heiress to the Seagram liquor ...",64.0,237.0,651.0,https://pbs.twimg.com/card_img/131901737674292...,https://pbs.twimg.com/card_img/131901737674292...,https://t.co/gKszpRqGoB?amp=1,1,1
4,Sep 30,Trump plans to participate in the next two pre...,491.0,155.0,510.0,https://pbs.twimg.com/media/EjL5B9oWoAILvGy?fo...,NaN,NaN,1,0

In [4]:
from nltk.corpus import stopwords

In [5]:
def text_cleaning(data):
    #lower case
    data['tweets_Text']=data['tweets_Text'].str.lower()
    #data.head()
    
    #remove punctuation
    punc_to_remove=string.punctuation
    def remove_punctuation(text):
        return text.translate(str.maketrans('', '', punc_to_remove))
    data['tweets_Text'] = data['tweets_Text'].apply(lambda text: remove_punctuation(text))
    #data.head()
    
    #remove stop words
    ", ".join(stopwords.words('english'))
    STOPWORDS = set(stopwords.words('english'))
    def remove_stopwords(text):
        return " ".join([word for word in str(text).split() if word not in STOPWORDS])

    data['tweets_Text'] = data['tweets_Text'].apply(lambda text: remove_stopwords(text))
    #data.head()
    return data

In [6]:
data=text_cleaning(data)

In [7]:
data.head()

,tweets_Date,tweets_Text,tweets_Replies,tweets_Retweets,tweets_Likes,tweets_Images,tweets_imageURL,tweets_hrefURL,has_image,has_Link
0,Sep 30,initial reports suggest three rockets struck b...,96.0,306.0,424.0,NaN,NaN,NaN,0,0
1,Sep 30,senate approved stopgap spending bill order av...,164.0,138.0,341.0,https://pbs.twimg.com/card_img/131903963670285...,https://pbs.twimg.com/card_img/131903963670285...,https://t.co/7cdxO2SXTI?amp=1,1,1
2,Sep 30,seven people shot funeral home milwaukee treat...,88.0,191.0,296.0,https://pbs.twimg.com/card_img/131684825020127...,https://pbs.twimg.com/card_img/131684825020127...,https://t.co/bu2k9SpEsB?amp=1,1,1
3,Sep 30,clare bronfman heiress seagram liquor fortune ...,64.0,237.0,651.0,https://pbs.twimg.com/card_img/131901737674292...,https://pbs.twimg.com/card_img/131901737674292...,https://t.co/gKszpRqGoB?amp=1,1,1
4,Sep 30,trump plans participate next two presidential ...,491.0,155.0,510.0,https://pbs.twimg.com/media/EjL5B9oWoAILvGy?fo...,NaN,NaN,1,0

In [8]:
data.to_csv('./Data-clean/Jan-Oct-2020_std_txtCleaned.csv')